*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Odor Mean Chey', serif;
}

/*estilos body*/

.colorText{
    color: #dcadd4;
}



/*estilos del header*/

.backG{
    background-color: #dcadd455; /*fondo footer*/
}

.logo{
    width: 20%;
}

.ancla{
    color: #dcadd4;
    font-size: 1.5rem;
    transition: .12s;
}

.ancla:hover{
    color: #cb1fc6;
    transform: scale(1.2,1.2);
}

/*estilos del main*/

.imgFondo{
    filter: brightness(50%);
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: -1;
    object-fit: cover;

}


.borroso{
    backdrop-filter: blur(5px);
}

/*estilos del footer*/

.colorIcon{
    color: #dcadd4;
    transition: .12s;
}

.colorIcon:hover{
    color: #cb1fc6;
}

/*estilo de la pagina de servicio*/

.borderSolid{
    border: #6e056a72 solid 1.5px;
    border-radius: 30%
}

.estiloSer{
    margin-bottom: 3.5rem;
    transition: transform .12s; background-color: 2s;
}

.estiloSer:hover{
    transform: scale(1.1,1.1);
    background-color: #6e056a36;
}


/*estilos cursos*/


  
/*estilos galeria*/

.cover{
    object-fit: cover;
}

.filtro{
    filter: brightness(50%);
}

.imgHover{
    transition: all 2s;
}

.imgHover:hover{
    filter: brightness(100%);
    transform: scale(1.1);
    overflow: hidden;
    cursor: zoom-in;
}

.imgHover:click{
    filter: brightness(100%);
    transform: scale(1.5);
    cursor: zoom-in;
}

/*estilos contacto*/

.bordes{
    border: solid violet 1px;
    box-shadow: 0 0 10px #cb1fc6;
}

.boton{
    background-color: #cb1fc6;
}


/*estilo responsivo*/



@media screen and (max-width: 1077px) {
    .logo{
        display: none;
    }
} 

@media screen and (max-width: 768px) {

    .listaDesordenada{
        flex-direction: column;
        width: 100vw;
    }

    .listaItem{
        text-align: center;
        width: 100vw;
        padding-top: 5px;
        padding-bottom: 5px;
        border-bottom: solid 1px #cb1fc6;

    }
}
    

    


 